Source: livemix
Section: sound
Priority: extra
Maintainer: Stephane Brunner <stephane.brunner@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, docbook-to-man, libqt4-dev, pkg-config, libjack-dev, liblrdf-dev, ladspa-sdk
Standards-Version: 3.7.2

Package: livemix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: swh-plugins
Suggests: cmt, tap-plugins, ladspa-plugin
Description: Simple mix table based on jack for live performances
